.form__button {
    background-color: #fff;
    border: none;
    border-radius: 2px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    line-height: normal;
    margin: 186px auto 0;
    padding: 0;
    width: 358px;
}

.form__button:hover {
    opacity: 0.85;
    cursor: pointer;
  }
