.form__input {
    margin: 0 auto 30px;
    padding: 0 0 9px;
    width: 100%;
    color: white;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    border-bottom: 2px solid rgba(204, 204, 204, 1);
    outline-color: rgba(0, 0, 0, 0.2);
    border: none;
}
