.form__input {
    padding: 0 0 9px;
    width: 100%;
    margin: 0 auto 30px;
    background-color: initial;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 14px;
    font-weight: 500;
    outline-color: rgba(0,0,0,.2);
}

.form__input, .form__title {
    color: #fff;
    font-style: normal;
    line-height: normal;
}
